<!DOCTYPE html>
<html>
<head>
	<title>OffDocs</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">


	<div class="menu-navigation">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand"> <%= link_to 'OffDocs', root_path %>
				</div>
			</div>

			<div id="navbarCollapse" class="collapse navbar-collapse">

				<ul id="sign-links" class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
					<li> <%= link_to 'Избранное', favorites_path %> </li>
					<li> <%= link_to current_user.email, edit_user_registration_path %> </li>
					<li> <%= link_to 'Выход', destroy_user_session_path, :method => :delete %> </li>
					<% else %>
					<li> <%= link_to 'Зарегистрироваться', new_user_registration_path %> </li>
					<li> <%= link_to 'Войти', new_user_session_path %> </li>
					<% end %>
				</ul>

			</div>
		</nav>
	</div>
	
	

	<div class="col-md-12 center-block">
		<%= yield %>
	</div>

</body>

</html>
