<%= form_for(@doc) do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
<br/>
  <div class="actions">
    <%= f.submit "Изменить", class: "btn btn-primary" %>
  </div>
<% end %>
