<h1>Docs</h1>
<div class = "container-fluid">
<table>
  <thead>
    <tr>
      <th id = 'title'>Title</th>
      <th id = 'source'>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>

    <% @docs.each do |doc| %>

      <tr>
        <td id = 'title-cell'><%= doc.title %></td>
        <td id = 'source-cell'><%= doc.source %></td>
        <td><%= link_to 'Show', doc %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_doc_path(doc) %></td>
          <td><%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @docs %>
</div>
<br>
<% if current_user.try(:admin?) %>
<%= link_to 'New Doc', new_doc_path %>
<%= link_to 'Import', import_docs_path %>
<% end %>
