
<table class="table table-hover table-bordered">


  <tbody>

    <% @docs.each do |doc| %>

      <tr>
        <td id = 'title-cell'>
        <%= link_to doc.title, doc %>
                  <% if current_user.try(:admin?) %>
                  
          <%= link_to 'Edit', edit_doc_path(doc), class: "btn btn-primary btn-xs pull-right edit" %>
          <%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs pull-right destroy" %>
          
        <% end %>
        </td>

        <td id = 'source-cell'><%= doc.source %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @docs %>

<br>
<% if current_user.try(:admin?) %>
<%= link_to 'New Doc', new_doc_path %>
<%= link_to 'Import', import_docs_path %>
<% end %>
