<p id="notice"><%= notice %></p>



<p>
  <strong>Title:</strong>
  <%= @doc.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @doc.source %>
</p>


<p>
  <strong>File:</strong>
  <%= link_to 'Download', download_path(:id => @doc.id) %>
</p>

<p> 
  <strong> Updates </strong>
  <% @doc.updates.each do |u| %>
    <p>
      <%= link_to u.title, u %>
    </p>
  <% end %>
</p>


<%= link_to 'Edit', edit_doc_path(@doc) %> |
<%= link_to 'Back', docs_path %>
