
<div class="partial-buttons">
  <%= render partial: "buttons" %>
</div>

<div class="text-center">
  <h2>

    <strong>
      <blockquote><%= @doc.title %>
        <footer>
          <%= @doc.source %>
        </footer>
      </blockquote>

    </strong>

  </h2>

</div>






<p>
  <% @doc.attachments.includes(:scans).each do |attachment| %>
  <div class="text-center">
    <h4>
      <strong>
        <%= attachment.title %>
      </strong>
    </h4>
  </div>

  <br>
  <div class="container-fluid">
            <div class="col-md-offset-7">
        <div class="row col-md-3 form-inline">
        <div class="col-md-offset-3 arrows-and-stuff">
            <input type="number" id="<%= attachment.id.to_s %>controls" min="1" max="<%= attachment.scans.count %>" class="form-control carousel-custom">
            </div>
            <a class="left carousel-control" href="#<%= attachment.id.to_s %>" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#<%= attachment.id.to_s %>"  role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
          </div>
  </div>
      <div class="carousel-container col-md-8 col-md-offset-2">
        <div id="<%= attachment.id.to_s %>" class="carousel slide carousel-fade" data-interval="false">

          <div class="carousel-inner">
            <div data-slide-no="0" class="item carousel-item active">
              <%= image_tag(attachment.scans.first.image.url) %>
            </div>
            <% attachment.scans.each_with_index do |scan, i| %>
            <% if i != 0 %>
            <div data-slide-no="<%= i %>" class="item carousel-item">
              <%= image_tag(scan.image.url) %>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="download-button">
        <%= link_to 'Скачать', download_path(:id => attachment.id), class: "btn btn-primary pull-right" %>
        </div>
      </div>  
    </div>    
  




  <hr>
  <br>

  <% end %>
  <p> 
    <strong> Изменения в приказе </strong>
    <% @doc.updates.each do |u| %>
    <p>
      <%= link_to u.title, u %>
    </p>
    <% end %>
  </p>




  <% if current_user.try(:admin?) %>
  <%= link_to 'Редактировать', edit_doc_path(@doc), class: "btn btn-primary btn-sm" %> 
  <% end %>
  <%= link_to 'Назад', docs_path, class: "btn btn-primary btn-sm" %>
